# Análise de filmes exibidos no Brasil de 2009 a 2017
com base na Ancine https://oca.ancine.gov.br/cinema

<p><a href='https://oca.ancine.gov.br/sites/default/files/repositorio/excel/2120_0.xlsx'>link do arquivo xlsx </a></p>
<p><a href='https://oca.ancine.gov.br/sites/default/files/repositorio/csv/2120_0.csv'>link do arquivo csv</a></p>

In [3]:
import pandas as pd
%matplotlib inline

In [5]:
# pd.read_csv('2110_0.csv')
# pular as duas primeiras linhas do arquivvo pois não nos interessa ( skiprows)
df = pd.read_excel('2120_0.xlsx', skiprows=2)
df.head()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
0,2017,#Screamers,Ficção,Estados Unidos,Estrangeiros,2017-11-30 00:00:00,Cineart Filmes,Distribuição Nacional,714.0,9437.45
1,2017,10 Centavos para o Número da Besta,Documentário,Brasil,Brasileiros,2017-11-28 00:00:00,Ponto de Equilíbrio,Distribuição Nacional,7.0,63.00
2,2017,120 batimentos por minuto,Ficção,França,Estrangeiros,2018-01-04 00:00:00,Imovision,Distribuição Nacional,262.0,3791.63
3,2017,13 Minutos,Ficção,Alemanha,Estrangeiros,2016-11-03 00:00:00,Alphaville Filmes,Distribuição Nacional,620.0,6463.50
4,2017,150 Miligramas,Ficção,França,Estrangeiros,2017-08-31 00:00:00,Califórnia,Distribuição Nacional,771.0,10508.71

In [6]:
# vendo o final do dataframe
df.tail()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
5702,Fonte:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5703,2016 e 2017: ANCINE / SADIS (Sistema de Acompa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,2009 a 2015: ANCINE / SADIS (Sistema de Acompa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5706,Elaboração: Coordenação do Observatório do Cin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# detectando NaN a partir da linha 16 da contagem de 20
#  ou a partir do registro na linha 5691 adiante
df.tail(20)

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
5687,2009,Xuxa em o Mistério de Feiurinha,Ficção,Brasil,Brasileiros,2009-12-25 00:00:00,Playarte,Distribuição Nacional,250109.0,1766416.65
5688,2009,Xuxa em Sonho de Menina,Ficção,Brasil,Brasileiros,2007-12-21 00:00:00,Warner,Distribuição Internacional,8914.0,26880.00
5689,2009,Xuxa Gêmeas,Ficção,Brasil,Brasileiros,2006-12-15 00:00:00,Fox,Distribuição Internacional,1671.0,5013.00
5690,2009,Zico na Rede,Documentário,Brasil,Brasileiros,2009-07-03 00:00:00,Business Telecom,Distribuição Nacional,546.0,2529.50
5691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5692,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5693,1. Esse arquivo disponibiliza os filmes exibid...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5694,2. Um filme pode ter mais de uma empresa distr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5695,3. Para um melhor alinhamento com o mercado in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5696,"4. Para um filme ser considerado brasileiro, o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5697,5. Os valores de renda disponíveis nesse arqui...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5698,6. ND: Dados não infomados pela distribuidora ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5699,7. O ano de exibição corresponde aos seguintes...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,8. Foram consideradas distribuidoras internaci...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5702,Fonte:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5703,2016 e 2017: ANCINE / SADIS (Sistema de Acompa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,2009 a 2015: ANCINE / SADIS (Sistema de Acompa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5706,Elaboração: Coordenação do Observatório do Cin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# vamos gerar novamente o dataframe descartando as ultimas 16 linhas ( skipfooter)
df = pd.read_excel('2120_0.xlsx', skiprows=2 , skipfooter=16)

In [11]:
# não sera exibido as linhas faltantes
df.tail()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
5686,2009,X-Men Origens: Wolverine,Ficção,Estados Unidos,Estrangeiros,2009-05-01 00:00:00,Fox,Distribuição Internacional,3199434,27352313.00
5687,2009,Xuxa em o Mistério de Feiurinha,Ficção,Brasil,Brasileiros,2009-12-25 00:00:00,Playarte,Distribuição Nacional,250109,1766416.65
5688,2009,Xuxa em Sonho de Menina,Ficção,Brasil,Brasileiros,2007-12-21 00:00:00,Warner,Distribuição Internacional,8914,26880.00
5689,2009,Xuxa Gêmeas,Ficção,Brasil,Brasileiros,2006-12-15 00:00:00,Fox,Distribuição Internacional,1671,5013.00
5690,2009,Zico na Rede,Documentário,Brasil,Brasileiros,2009-07-03 00:00:00,Business Telecom,Distribuição Nacional,546,2529.50

In [14]:
# verificar todos os tipos das colunas
df.dtypes

Ano de exibição                      int64
Título da obra                      object
Gênero                              object
País(es) produtor(es) da obra       object
Nacionalidade da obra               object
Data de lançamento                  object
Distribuidora                       object
Origem da empresa distribuidora     object
Público no ano de exibição           int64
Renda (R$) no ano de exibição      float64
dtype: object

In [15]:
# Data de lançamento deveria estar como data e não object
# converter a coluna Data de lançamento para tipo data
# colcjetes sempre significa selecionar
df['Data de lançamento'] = pd.to_datetime(df['Data de lançamento'])

TypeError: invalid string coercion to datetime

In [16]:
# identificar o problema da coluna Data de lançamento
# 175 elemntos com o nome relaçamento na coluna Data de lançamento, onde o esperado era data e não texto
df['Data de lançamento'].value_counts()

Relançamento           175
2012-12-21 00:00:00     33
2015-12-03 00:00:00     33
2013-11-29 00:00:00     29
2012-11-02 00:00:00     27
2015-11-19 00:00:00     25
2015-11-12 00:00:00     25
2016-11-17 00:00:00     23
2013-10-11 00:00:00     23
2013-11-01 00:00:00     23
2013-12-06 00:00:00     23
2014-11-06 00:00:00     21
2013-09-13 00:00:00     21
2011-11-11 00:00:00     21
2011-12-02 00:00:00     21
2009-12-11 00:00:00     20
2011-12-09 00:00:00     19
2016-11-10 00:00:00     19
2014-06-19 00:00:00     19
2011-09-30 00:00:00     19
2013-12-20 00:00:00     19
2013-09-06 00:00:00     18
2015-11-26 00:00:00     18
2015-12-10 00:00:00     18
2014-12-04 00:00:00     18
2016-11-24 00:00:00     18
2011-11-25 00:00:00     18
2015-08-20 00:00:00     18
2016-12-01 00:00:00     18
2012-10-12 00:00:00     18
                      ...
2018-12-28 00:00:00      1
2015-05-02 00:00:00      1
2006-06-09 00:00:00      1
2015-04-18 00:00:00      1
2008-12-13 00:00:00      1
2008-04-12 00:00:00      1
2009-03-21 00:00:00      1
2010-06-22 00:00:00      1
2006-06-02 00:00:00      1
2009-10-03 00:00:00      1
2014-06-28 00:00:00      1
2009-10-28 00:00:00      1
2005-05-13 00:00:00      1
2008-02-02 00:00:00      1
2001-04-06 00:00:00      1
2002-12-27 00:00:00      1
2007-11-02 00:00:00      1
2007-08-03 00:00:00      1
2007-09-21 00:00:00      1
2018-03-01 00:00:00      1
2018-04-12 00:00:00      1
2002-11-01 00:00:00      1
2011-03-05 00:00:00      1
2006-09-29 00:00:00      1
2009-04-21 00:00:00      1
2005-01-14 00:00:00      1
2006-10-13 00:00:00      1
2009-09-11 00:00:00      1
2017-03-29 00:00:00      1
2008-06-28 00:00:00      1
Name: Data de lançamento, Length: 759, dtype: int64

In [17]:
# identificcando alguns files que estão com data = relançamento
df[df['Data de lançamento'] == 'Relançamento'].head()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7,2017,8½,Ficção,"França, Itália",Estrangeiros,Relançamento,F. J. Cines,Distribuição Nacional,29,196.00
11,2017,A bela da tarde,Ficção,"França, Itália",Estrangeiros,Relançamento,Zeta Filmes,Distribuição Nacional,3011,42839.31
36,2017,A História sem Fim,Ficção,"Alemanha, Estados Unidos",Estrangeiros,Relançamento,F. J. Cines,Distribuição Nacional,797,6969.00
53,2017,A primeira noite de um homem,Ficção,Estados Unidos,Estrangeiros,Relançamento,Zeta Filmes,Distribuição Nacional,12,96.00
128,2017,Ballet Bolshoi: A bela adormecida,Vídeomusical,Inglaterra,Estrangeiros,Relançamento,UCI,Distribuição Nacional,1504,41391.00

### Decisão sobre dados incorretos/faltantes/divergentes

In [18]:
df.shape

(5691, 10)

In [30]:
# criar novo dataframe para preservar o original, e sem os relançamentos
# df_novo , pega todos os valores que estejam em Data de lançamento e sejam diferentes de Relançamento
# copy() cria uma copia identica ao df e não uma referencia em memoria
df_novo = df[df['Data de lançamento'] != 'Relançamento'].copy()

In [31]:
df_novo['Data de lançamento'].value_counts()
# temos agora so campo com numeros

2015-12-03    33
2012-12-21    33
2013-11-29    29
2012-11-02    27
2015-11-12    25
2015-11-19    25
2013-12-06    23
2013-10-11    23
2013-11-01    23
2016-11-17    23
2011-12-02    21
2013-09-13    21
2014-11-06    21
2011-11-11    21
2009-12-11    20
2016-11-10    19
2013-12-20    19
2014-06-19    19
2011-12-09    19
2011-09-30    19
2015-12-10    18
2015-11-26    18
2014-12-04    18
2013-09-06    18
2016-11-24    18
2011-11-25    18
2012-10-12    18
2016-12-01    18
2015-08-20    18
2011-09-02    17
              ..
2018-04-12     1
2007-08-03     1
2007-07-27     1
2018-12-28     1
2002-01-01     1
2008-11-29     1
2006-10-06     1
2018-04-05     1
2008-04-18     1
2014-10-10     1
2015-04-18     1
2011-07-02     1
2013-02-09     1
2015-01-01     1
2003-10-31     1
2004-05-21     1
2010-09-04     1
2013-03-23     1
2008-10-18     1
2014-11-08     1
2014-01-18     1
2010-06-22     1
2006-06-02     1
2005-04-22     1
2013-09-30     1
2005-05-13     1
2018-02-15     1
2002-12-27     1
2007-11-02     1
2017-12-02     1
Name: Data de lançamento, Length: 758, dtype: int64

In [32]:
df_novo.dtypes
# Data de lançamento -> object

Ano de exibição                      int64
Título da obra                      object
Gênero                              object
País(es) produtor(es) da obra       object
Nacionalidade da obra               object
Data de lançamento                  object
Distribuidora                       object
Origem da empresa distribuidora     object
Público no ano de exibição           int64
Renda (R$) no ano de exibição      float64
dtype: object

In [56]:
df_novo['Data de lançamento'] = pd.to_datetime(df_novo['Data de lançamento'])

In [57]:
df_novo.head()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
0,2017,#Screamers,Ficção,Estados Unidos,Estrangeiros,2017-11-30,Cineart Filmes,Distribuição Nacional,714,9437.45
1,2017,10 Centavos para o Número da Besta,Documentário,Brasil,Brasileiros,2017-11-28,Ponto de Equilíbrio,Distribuição Nacional,7,63.00
2,2017,120 batimentos por minuto,Ficção,França,Estrangeiros,2018-01-04,Imovision,Distribuição Nacional,262,3791.63
3,2017,13 Minutos,Ficção,Alemanha,Estrangeiros,2016-11-03,Alphaville Filmes,Distribuição Nacional,620,6463.50
4,2017,150 Miligramas,Ficção,França,Estrangeiros,2017-08-31,Califórnia,Distribuição Nacional,771,10508.71

In [58]:
df_novo.dtypes
# Data de lançamento -> datetime64

Ano de exibição                             int64
Título da obra                             object
Gênero                                     object
País(es) produtor(es) da obra              object
Nacionalidade da obra                      object
Data de lançamento                 datetime64[ns]
Distribuidora                              object
Origem da empresa distribuidora            object
Público no ano de exibição                  int64
Renda (R$) no ano de exibição             float64
dtype: object

In [59]:
df_novo.shape
# foram excluidas linhas, original era 5691 e o atual é 5516

(5516, 10)

In [60]:
# Quais anos tiveram mmais filmes lançados?
df_novo['Data de lançamento'].dt.year.value_counts()

2013    669
2015    646
2014    619
2016    613
2011    553
2012    539
2009    503
2017    487
2010    475
2008    225
2007     61
2006     49
2005     29
2018     17
2004     10
2002      6
2001      5
2003      4
1999      3
2000      2
1998      1
Name: Data de lançamento, dtype: int64

In [ ]:
# aula2 48:47
# selecionar intervalo de 2009 a 2017 e montar novo dataset